:root {
    --main-color: #FFF697;
    --secondary-color: #FDF9D3;
}

* {
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: var(--main-color);
    margin: 0px;
}

h3 {
    font-weight: 100;
}

/* header */
nav {
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 60%;
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    padding: 0;
    padding-bottom: 12px;
    z-index: 1;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 80px;
    float: right;
}

nav a:hover {
    text-decoration: underline;
}


input {
    border: none;
    width: 140px;
    font-size: 80%;
}

.icon-menu {
    width: 25px;
    padding: 10px;
    
}

#icons-right {
    margin: 0 auto;
    padding: 0;
}

#icons-rigt span {
    display: block;
    text-align: center;
}

/*main*/

#logo-mobile {
    width: 60px;
    float: left;
    margin: 5px;
}

img.logo {
    width: 160px;
    position: fixed;
    top: 80px;
    z-index: -1;
}

div.icons {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-top: 120px;
    margin-bottom: 120px;
    position: relative;
}

.icons img {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}

.icons p {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    font-weight: 600;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 20px;

    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 20px;

    border-top: 5px solid black;
}

.arrow-down:hover {
    border-top: 5px solid white;
}

.arrow-up:hover {
    border-bottom: 5px solid white;
}

#year, #day {
    margin-left: 12px;
}

.date-menu {
    background-color: var(--secondary-color);
    display: grid;
    width: 250px;
    font-size: 0.7em;
    padding: 20px;
    padding-left: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 4fr 1fr;
    margin-left: -90px;
    margin-right: auto;
    color: black;
    font-weight: 100;
}

label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.genre-menu {
    background-color: var(--secondary-color);
    width: 280px;
    padding-left: 40px;
    font-size: 0.7em;
    padding: 20px;
    margin-left: -90px;
    margin-right: auto;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

input {
    margin-top: 0px;
}

.genre-menu h3:hover {
    text-decoration: underline;
    cursor: pointer;
}

.genre-menu h3 {
    font-weight: 100;
}

.genre-menu span:hover {
    text-decoration: none;
}

.read-more {
    font-size: 0.7em;
    font-weight: 400;
}


#positions-icon {
    opacity: 0.83;
    margin-top: 20px;
}

#apply-now {
    margin-top: 20px;
    padding: 7px;
    width: 150px;
    border: none;
    font-size: 1em;
    background-color: var(--main-color);
    color: white;
    margin-left: -10px;
}

/* UPCOMING EVENTS */
.events {
    position: static;
}

#upcoming-events {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    width: 250px;
}

/*article {
    height: 300px;
    background-color: black;
    color: white;
}

article img {
    width: 300px;
}

article .add-fav {
    width: 10%; 
}*/

article h1 {
    margin-bottom: 0px;
    padding: 6px;
    font-size: 70%;
    width: 288px;
    background-color: #564BA5;
    color: white;
}
article img {
    width: 300px;
}
article h2 {
    position: absolute;
    transform: translateY(-42px);
    padding-left: 227px;
    font-size: 70%;
    color: white;
    font-weight: 200;
}
article p {
    position: absolute;
    transform: translateY(-42px);
    padding-left: 227px;
    font-size: 70%;
    color: white;
    font-weight: 200;
}

article span {
    color: black;
    padding-left: 0px;
    position: absolute;
    transform: translateY(-198px);
}

.black {
    width: 300px;
    height: 186px;
    background-color: black;
    display: block;
    position: relative;
    top: -193px;
    opacity: 0.5;


}

article button {
    background: none;
    text-transform: uppercase;
    border: solid 1px black;
    transform: translateY(-193px);
    margin-left: 230px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 60%;
    width: 70px;
}


.hide {
    display: none;
}

/* Media query for mobile version */
@media (min-width: 0px) {

}

/* Media query for desktop version */
@media (min-width: 850px) {

}


@media (max-width: 900px) {

    img.logo {
        display: none;
    }

}
