:root {
    --main-color: #FF5E5E;
    --secondary-color: #FDBCBC;
}

* {
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: var(--main-color);
    margin: 0px;
}

h3 {
    font-weight: 100;
}

button {
    cursor: pointer;
}

/* header */
nav {
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 60%;
    position: fixed;
    background-color: white;
    padding-bottom: 8px;
    z-index: 1000;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 60px;
    float: right;
}

nav a:hover {
    text-decoration: underline;
}

.selected {
    text-decoration: underline;
}
.icon-menu {
    width: 33px;
    padding-top: 8px;
}

#icons-right {
    margin: 0 auto;
}

#icons-rigt span {
    display: block;
    text-align: center;
}

/*main*/

#logo-mobile {
    width: 55px;
    float: left;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 5px;

}

img.logo {
    width: 190px;
    padding-top: 30px;
    position: fixed;
    top: 80px;
    z-index: -1;
}

div.icons {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-top: 120px;
    margin-bottom: 120px;
    position: relative;
}

.icons img {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}

.icons p {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    font-weight: 600;
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 20px;

    border-bottom: 5px solid black;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 20px;

    border-top: 5px solid black;
}

.arrow-down:hover {
    border-top: 5px solid white;
}

.arrow-up:hover {
    border-bottom: 5px solid white;
}

#year,
#day {
    margin-left: 12px;
}

.date-menu {
    background-color: var(--secondary-color);
    display: grid;
    width: 250px;
    font-size: 0.7em;
    padding: 20px;
    padding-left: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 4fr 1fr;
    margin-left: -90px;
    margin-right: auto;
    color: black;
    font-weight: 100;
}

label {
    cursor: pointer;
    font-weight: 100;
    margin-left: 0;
    padding-left: 0;
}

.genre-menu {
    background-color: var(--secondary-color);
    width: 200px;
    font-size: 0.9em;
    margin-left: -55px;
    margin-right: auto;
    text-transform: uppercase;
    padding: 20px;
}

/* container for genres */
.container-g {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 7px;
    cursor: pointer;
    font-size: 13px;
}

/* hide the browser's default checkbox */
.container-g input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* hovor when you click on the checkbox */
.container-g:hover input ~ .checkmark {
    background-color: #ccc;
}

/* when the checkbox is checked */
.container-g input:checked ~ .checkmark {
    background-color: white;
}

/* hide checkmark when is not checked */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* show the checkmark when checked */
.container-g input:checked ~ .checkmark:after {
    display: block;
}

/* style for checkmark */
.container-g .checkmark:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.read-more {
    font-size: 0.7em;
    font-weight: 400;
}


#positions-icon {
    opacity: 0.83;
    margin-top: 20px;
}

#apply-now {
    margin-top: 20px;
    padding: 7px;
    width: 150px;
    border: none;
    font-size: 1em;
    background-color: var(--secondary-color);
    color: black;
    margin-left: -10px;
}

/* UPCOMING EVENTS */
.events {
    position: static;
}

article {
    display: none;
}

article.Music {
    display: block;
    margin-bottom: 0px;
    padding-bottom: 0;
}


#upcoming-events {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    width: 250px;
}

article .add-fav {
    width: 15px;
    transform: translateY(-204px);
    margin-left: 200px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.heart {
    width: 300px;
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article h1 {
    margin-bottom: 0px;
    height: 30px;
    padding: 6px;
    font-size: 70%;
    width: 288px;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
article img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.date-container {
    display: block;
    width: 430px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

article h2 {
    position: absolute;
    text-align: right;
    font-size: 60%;
    color: white;
    font-weight: 200;
    padding-left: 290px;
    transform: translateY(-25px);
}

article p {
    margin-top: 0px;
    height: 20px;
    padding: 6px;
    font-size: 70%;
    width: 288px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-170px);
    text-decoration: none;
}


.black {
    width: 300px;
    height: 170px;
    background-color: black;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: -170px;
    opacity: 0.5;
}

.black:hover {
    opacity: 0;
}

article .button {
    display: block;
    width: 300px;
    height: 30px;
     margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

article button {
    background: none;
    text-transform: uppercase;
    border: solid 1px black;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 60%;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-220px);
    float: right;
}

.featured-img {
     height: 170px;
}
<<<<<<< HEAD

.hide {
    display: none;
}
=======
.hide {
    display: none;
}
>>>>>>> origin/master

/* Media query for mobile version */
@media (min-width: 0px) {}

/* Media query for desktop version */
@media (min-width: 850px) {}


@media (max-width: 900px) {

    img.logo {
        display: none;
    }

}

/* sub-page*/
button.back,
button.buyTicket {
    background-color: var(--secondary-color);
    text-transform: uppercase;
    border: solid 1px black;
    font-size: 150%;
    width: 30%;
    padding: 1.5%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}

button.buyTicket {
    transform: translateX(30%);

}

button a {
    text-decoration: none;
    color: black;


}

.detail-img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
}

p.content {

    width: 80%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    padding: 10%;
    background-color: var(--secondary-color);
}

p.genre {
    margin-top: 0%;
    background-color: var(--secondary-color);
    padding-bottom: 5%;
    margin-bottom: 0%;
}

h1.eventName {
    background-color: var(--secondary-color);
    color: black;
    margin: 0%;
    padding-left: 10%;
    padding-right: 10%;
    padding-right: auto;
    padding-top: 5%;
    width: 80%;
    font-size: 100%;

}

h2.eventDate {
    background: var(--secondary-color);
    color: black;
    position: relative;
    transform: translateY(0px);
    margin-bottom: 0%;
    margin-top: 0%;
    padding-bottom: 1%;
    padding-left: 10%;
    font-weight: 300;
    font-size: 80%;
}

#detail-main p {
    position: relative;
    color: black;
    padding-right: 10%;
    padding-left: 10%;
}


/*profile*/

.profileImage {

    width: 45%;
    padding-left: 6%;
    padding-top: 95px;
    top: 12%;


}

.profileName {
    text-transform: uppercase;
    position: absolute;
    top: 10%;
    left: 53%;
    font-size: 120%;
}

.profileMail,
.profilePhone {
    width: 32px;
}

.profileMail {
 transform: translateX(-280%) translateY(-30%);
}

.profilePhone {
 transform: translateX(-240%) translateY(-30%);
}

.Mail,
.Phone {
    position: absolute;
    left: 57%;
    text-decoration: none;
    color: black;
    font-size: 70%;
}

.Mail {
    top: 23%;
}

.Phone {
    top: 28%;
}

.profileButton {
    position: absolute;
    left: 53%;
    top: 33%;
    text-transform: uppercase;
    border: solid 1px black;
    background: none;
    padding-top: 0%;
    padding-bottom: 0%;
}


.profile p {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-weight: 300;
    margin: 0%;
    font-size: 80%;

}

p.first {
    margin-top: 2%;
    padding-bottom: 2%;
    padding-top: 2%;

}

p.bold {

    font-weight: 600;
    padding-top: 2%;
    padding-bottom: 2%;
}


.rating p {
    padding-left: 10%;
    padding-right: 10%;
    background-color: white;
    padding-top: 2%;
    font-size: 80%;
}

p.stars {
    color: #FFEB1D;
    font-size: 100%;
}

p.review {
    text-transform: none;
    font-size: 70%;
    padding-bottom: 5%;
}

img.arrow {
    width: 3%;
    padding-right: 48.5%;
    padding-left: 48.5%;
    transform: translateY(-22px);
}

@media (min-width: 350px) {
    .profileName {
        text-transform: uppercase;
        position: absolute;
        top: 10%;
        left: 53%;
        font-size: 120%;
    }

    .profileMail,
    .profilePhone {
        width: 32px;
        position: absolute;
        left: 52%;
    }

    .profileMail {
        top: 20%;

    }

    .profilePhone {
        top: 24%;

    }


    .Mail {
        top: 20.7%;
    }

    .Phone {
        top: 24.5%;
    }

    .profileButton {
        top: 30%;
    }
}

/* FOOTER */
footer {
    background-color: white;
    color: black;

    /* grid for the footer */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "follow locations about contact"
        ". copyright copyright .";
}

.contact {
    grid-area: contact;
}

.about {
    grid-area: about;
}

.locations {
    grid-area: locations;
}

.follow {
    grid-area: follow;
}

.footer-title {
    font-size: 13px;
    text-align: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 4px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: default;
}

.sub-text1 {
    font-size: 10px;
    text-align: left;
    margin: 0;
    padding-bottom: 3px;
    cursor: default;
    display: block;
}

.sub-text1:hover {
    color: #ccc;
    transition: 1s;
}

.icon-f {
    width: 35px;
    padding: 5px;
}

a:hover {
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.follow {
    margin-left: auto;
    margin-right: auto;
}
