:root {
  --main-color: orangered;
}

* {
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #ffffff;
    margin: 0px;
}

/* header */
nav {
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 60%;
    position: fixed;
    background-color: var(--main-color);
    top: 0px;
    left: 0px;
    padding: 0;
    padding-bottom: 12px;
    z-index: 1;
}

nav a {
    text-decoration: none;
    color: black;
    padding-right: 70px;
    font-weight: 300;
}

nav a:hover {
    text-decoration: underline;
}


a.languages {
    padding-right: 0%;
}

a.selected {
    text-decoration: underline;
}

.searchIcon {
    max-width: 12px;
    padding-top: 2px;
    position: absolute;
    transform: translateX(-15px);
    max-height: auto;
}

input {
    border: none;
    width: 140px;
    font-size: 80%;

}

/* OVERLAY MENU and BURGER MENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0%;
    background-color: var(--main-color);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.overlay-content {
    position: relative;
    top: 100px;
    text-align: center;
}

#color {
    color: black;
}

.overlay a {
    padding: 9px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay #color:hover,
.overlay #color:focus {
    color: white;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 60px;
    font-style: normal;
    width: 10%;
}

.burgermenu {
    width: 27px;
    float: right;
    padding-right: 25px;
    display: none;
    padding-top: 10px;
}

.overlay-content img {
    position: fixed;
    top: 5px;
    width: 40px;
    left: 20px;
}


/*main*/
#logo-mobile {
   width: 60px;
}

img.logo {
    width: 160px;
    position: fixed;
    top: 80px;
    z-index: -1;
}

div.icons {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    padding-top: 120px;
}

.icons img {
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
}

.icons p {
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
    font-weight: 200;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid black;
}

#positions-icon {
    opacity: 0.83;
}

#apply-now {
    margin-top: 20px;
    padding: 7px;
    width: 150px;
    border: none;
    font-size: 1em;
    background-color: var(--main-color);
    color: white;
}

/* UPCOMING EVENTS */
.events {
 margin-top: 100px;
}

#upcoming-events {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6em;
    width: 250px;
}


.about {
    padding-left: 40px;
    line-height: 80%;
    width: 200px;
}

.logos {
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.contact {
    padding-left: 0px;
    line-height: 80%;
    transform: translateX(-30px);
}

.follow {
    padding-left: 100px;
    width: 200px;

}

.follow img {
    height: 25px;
    padding: 10px;
}

.logos img {
    width: 55px;
    padding: 5px;
    padding-top: 7px;
}



/* filtering*/

.hide {
    display: none;
}




/* Media query for mobile version */
@media (min-width: 0px) {

    .burgermenu {
        display: block;
        width: 50px;
    }

    .main-nav {
        display: none;
    }

}

/* Media query for desktop version */
@media (min-width: 850px) {

    .burgermenu {
        display: none;
    }

    .main-nav {
        display: block;
        padding-top: 20px;
    }

    .overlay-content img {
        display: none;
    }
}



@media (max-width: 900px) {

    .events {
        display: block;
        position: absolute;
        padding-left: 2px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -15%);

    }



    img.logo {
        display: none;
    }

    div.icons {
        padding-left: 30px;
    }

    .findEvents {
        display: none;
    }

    .cinema {
        transform: translateY(-180px);
    }

    .desktop {
        display: none;
    }

    footer {
        display: block;
        width: 100%;
        position: relative;
        bottom: 0;
        margin-top: 1000px;
        height: 500px;
        margin-bottom: 0;
        text-align: center;
    }

    .logos {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0;
        margin-top: 30px;
        width: 100vw;
    }

    .contact {
        transform: translateX(0);
    }

    .contact,
    .about,
    .offer,
    .follow {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #location-menu {
    position: absolute;
    top: 160px;

    background-color: white;
    height: 290px;
        width: 70px;
    padding: 30px;
    padding-bottom: 12px;
    padding-top: 5px;
    z-index: 1;
    transform: translateX(0px);
}

#genre-menu {
    position: absolute;
    top: 160px;
    left: 35%;
    background-color: white;
    width: 150px;
    height: 130px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-right: 0;
    z-index: 1;
    transform: translateX(0px);
}

#genre-menu p {
    cursor: pointer;
   text-align: center;

}

#genre-menu p:hover {
    text-decoration: underline;
}


#date-menu {
    position: absolute;
    top: 160px;
    left: 68%;
    background-color: white;
    width: 80px;
    height: auto;
    padding: 30px;
    padding-bottom: 3px;
    padding-top: 5px;
    padding-left: 0;
    z-index: 1;
    transform: translateX(0px);
}

#date-menu img {
    width: 20%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

}
